<!DOCTYPE html>
<html>
<head>
    <title>Matplotlib Plots</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .title {
            font-family: 'Arial', sans-serif; /* Change font family */
            font-size: 48px; /* Increase font size */
            color: #007bff; /* Set text color */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
            margin-bottom: 30px; /* Add space below the title */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="title text-center">Graphs</h1> <!-- Apply custom styling -->
        <div class="plots-container">
            {% for plot in plots %}
                <div class="plot">
                    
                    <img src="data:image/png;base64,{{ plot.image_base64 }}" alt="Matplotlib Plot">
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Bootstrap JS (optional, for some features like dropdowns, modals, etc.) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>